@import url(https://fonts.googleapis.com/css?family=Open+Sans);

h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 8em;
	margin: .5em;
	text-align: center;
	text-transform: uppercase;
}

.wrapper {
	width: 60em;
	margin: auto;
	clear: both;
}

img {
	float: left;
	max-width: 25%;
	padding: 1em;
	box-sizing: border-box;
}

