@import url(https://fonts.googleapis.com/css?family=Inconsolata);

* {
	padding: 0px;
	margin: 0px;
	box-sizing:border-box;
}

body {
	font-size: 16px;
	/*1em = 16px*/
}

nav {
	float: right;
}

footer h2 {
	color: #fff;
	font-family: Inconsolata, sans-serif;
	margin: auto;	
}

a {
	text-decoration: none;
}

nav a {
	float: left;
}



.mainnav {
	color: #fff;
	font-size: 1.5em;
	font-style: none;
	font-family: Inconsolata, sans-serif;
	text-decoration: none;
	margin: .5em 1em 0 2em;
	white-space: nowrap;
}

.underslide {
	display: inline-block;
}

.underslide:after{
	content: '';
	display: block;
	height: 2px;
	width: 0;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}

.underslide:hover:after {
	width: 100%;
	background: white;
}

.socialsvg {
	fill: #fff;
	margin: 0 auto;
	height: 2em;
	width: 2em;
	margin: 0 .5em;
/*	box-shadow: 1px 1px 1px 1px black;*/
}

.threecolumn {
	width: 33.33%;
	float: left;
	text-align: center;

}

/*.center {
	margin: 0 auto;
	text-align: center;
}*/

#stillbg { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../images/stillbg.jpg) no-repeat;
    background-size: cover; 
}

#splash {
	height: 93vh;
	background: rgba(34, 34, 34, .1);
}

#playlistplus {
	fill: #fff;
	height: .8em;
	width: .8em;
	transform: rotate(45deg);
}

#player {
	display: none;
}
