@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
	font-family: 'Futura-Medium';
	src: url('../fonts/Futura-Medium.eot');
	src: url('../fonts/Futura-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Futura-Medium.woff') format('woff'),
		url('../fonts/Futura-Medium.ttf') format('truetype'),
		url('../fonts/Futura-Medium.svg') format('svg');
}

html, body {
	background: url(../images/rooftop.jpg)
	fixed left center no-repeat;
	background-size: cover;
	background-color: #151515;
	width: 100%;
	height: 100vh;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #fff;
	font-size: 20px;
	font-family:  Futura, 'Futura-Medium', 'Open Sans', 'Trebuchet MS', Arial, sans-serif;
	text-rendering: optimizeLegibility;
	overflow: auto;
	letter-spacing: .2em;
}


header {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height: 3.5em;
	color:#fff;
	padding: 1.2em;
	z-index: 10;
	background: inherit;
}

nav {
	float: right;
	color: white;
	text-transform: uppercase;
}



a {
	text-decoration: none;
	cursor: pointer;
}


form {
	text-align: center;
}

footer {
	position: fixed;
	bottom: 0;
	left:0px;
	width:100%;
	color:#fff;
	margin: 1em;
	height: 3.5em;
	z-index: 10;
	background: inherit;
	text-align: center;
}


form.validate {
	margin: 10em 0 0;
}




input:focus {
	outline: none;
	color: white;
}

::-webkit-input-placeholder {
	font-family:  Futura, 'Futura-Medium', 'Open Sans', 'Trebuchet MS', Arial, sans-serif;
   	color: rgba(255, 255, 255, .5);
   	line-height: 1.2em;

}

:-moz-placeholder { /* Firefox 18- */
	font-family:  Futura, 'Futura-Medium', 'Open Sans', 'Trebuchet MS', Arial, sans-serif;
   	color:  rgba(255, 255, 255, .5); 
   	line-height: 1.2em;
}

::-moz-placeholder {  /* Firefox 19+ */
	font-family:  Futura, 'Futura-Medium', 'Open Sans', 'Trebuchet MS', Arial, sans-serif;
   	color:  rgba(255, 255, 255, .5);
   	line-height: 1.2em;
}

:-ms-input-placeholder {  
	font-family:  Futura, 'Futura-Medium', 'Open Sans', 'Trebuchet MS', Arial, sans-serif;
   	color: rgba(255, 255, 255, .5); 
   	line-height: 1.2em;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.mainnav {
	color: #fff;
	font-size: 1.1em;
	font-family:  Futura, 'Futura-Medium', 'Open Sans', 'Trebuchet MS', Arial, sans-serif;
	text-decoration: none;
	margin: .5em .5em 0 1em;
	padding: .5em;
}


.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}



.threecolumn {
	width: 33.33%;
	float: left;
	text-align: center;
	padding: 1em 0 .2em;
}

.socialsvg {
	fill: #fff;
	height: 1.7em;
	width: 1.7em;
	margin: 1em .5em 0;
}

.underslide {
	display: inline-block;
}

.underslide:after{
	content: '';
	display: block;
	height: 2px;
	width: 0;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}

.underslide:hover:after {
	width: 100%;
	background: white;
}

.overlay {
	width: 100%;
	min-height: 100%;
	background-color: rgba(0,0,0,0.4);
	margin: 2em 0; 

}

.overlay h2 {
	font-family:  Futura, 'Futura-Medium', 'Open Sans', 'Trebuchet MS', Arial, sans-serif;
	font-size: 1.3em;
	margin-bottom: 1.5em;
}

.content {
	display: hidden;
    width: 80%;
    margin: 0 auto;
    padding: 4em 0;
    z-index: 5;
    overflow: auto;
}

.content-center {
	width: 50em;
	margin: 0 auto;
	padding: 13em 0;
	z-index: 5;
	overflow: auto;
}

.content-center p {
	margin: .5em 0 1em;
	font-family:  Futura, 'Futura-Medium', 'Open Sans', 'Trebuchet MS', Arial, sans-serif;
	font-weight: 100;
	line-height: 1.5em;
	letter-spacing: normal;
}

.content-center a {
	font-family:  Futura, 'Futura-Medium', 'Open Sans', 'Trebuchet MS', Arial, sans-serif;
	line-height: 1.2em;
	margin: 1em 0;
	color: #fff;
	text-decoration: none;
	font-variant: small-caps;
	word-break: break-word;
}

.centered {
	margin: auto;
}

.upcoming-events {
	padding: 6em 0 2em;
	text-align: center;
	height: auto;
}

.upcoming-events, .previous-events h2 {
	text-align: center;
	margin: 0 0 2em;
}

.upcoming-events img {
	width: 30%;
	height: auto;
	margin: 0 1em 1em;
}

.previous-events {
	text-align: center;
	height: auto;
	padding: 0 0 4em;
}


.previous-events img {
	width: 16%;
	height: auto;
	margin: 1em 1em;
}

.hidden { 
	display: none; 
}


.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  padding:0px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:1.4em;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding: 0px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:4em;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.overlay-close{
  background:none;
  position: fixed;
  top: 1em;
  right:0;
  padding: 0px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:4em;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{
	z-index:1000000;  
	width:100%; 
	position:absolute; 
	text-align:center;
	font-family:  Futura, 'Futura-Medium', 'Open Sans', 'Trebuchet MS', Arial, sans-serif;
}

.menu ul {
	background: #181818;
	margin: 0; 
	padding: 0; 
	list-style-type: none; 
	list-style-image: none;
}

.menu li {
	display: block;   
	padding:15px 0 15px 0; 
}

.menu li:hover {
	display: block;    
	background:#2e2e2e; 
	padding:15px 0 15px 0; 
}

.menu ul li a { 
	text-decoration:none;  
	margin: 0px; 
	color:#fff;
}

.menu ul li a:hover {  
	color: #fff; 
	text-decoration:none;
}

.menu a {
	text-decoration:none; 
	color:white;
}

.menu a:hover {
	text-decoration:none; 
	color:white;
}

.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}

.mobile-nav {
	font-size: 1.1em;
	text-decoration: none;
	display: none;
}


.mailchimp-input {
	background: transparent;
	border: none;
	border-bottom: 2px solid rgba(255, 255, 255, 1);
	font-size: 1.2em;
	color: #fff;
	padding: 2px;
	width: 20em;
	display: block;
	margin: 1em auto;
}

#submit {
	background: none;
	border: none;
	color: #fff;
	font-size: 1.3em;
	padding-bottom: .15em;
	width: auto;
	margin: 1.5em auto 0;
}

@media screen and (min-width: 2419px) {
	html, body {
	background: url(../images/rooftop-hi-res.jpg)
}
}

@media screen and (max-width: 1100px) {
	.upcoming-events img {
		width: 35%;
}

	.previous-events img {
		width: 20%;

}
}

@media screen and (max-width: 900px) {
	.content-center {
	width: 80%;

}

	.upcoming-events img {
		width: 40%;
}

	.previous-events img {
		width: 28%;
}

}

@media screen and (max-width: 750px) {
	.upcoming-events img {
		width: 50%;
}

	.previous-events img {
		width: 30%;
		height: auto;
		margin: 1em 1em;
}

}


@media screen and (max-width: 640px) {
	.mainnav {
		display: none;
	}
	.mobile-nav {
		display: block;
	}
	.overlay-close {
		display: none;
	}

	.content-center {
	padding: 10em 0;
}
	.upcoming-events img {
		width: 60%;
}
}

@media screen and (max-width: 570px) {
	.threecolumn {
		width: 25%;
		text-align: center;
	}	
	.center {
		width: 50%;
	}
}

@media screen and (max-width: 480px) {
	html, body {
		font-size: 18px;
	}

	.mailchimp-input {
	width: 15em;
}

	.socialsvg {
	height: 1.5em;
	width: 1.5em;
	margin: 1em 0.25em 0;
}
	.upcoming-events img {
		width: 70%;

}
}

@media screen and (max-height: 667px) and (max-width: 667px) {
	.content-center {
		padding: 7em 0;
	}

	.upcoming-events {
		padding: 3em 0 2em;
	}

	form.validate {
		margin: 6.5em 0 0;
	}
}

@media screen and (max-height: 640px) and (max-width: 640px) {
	form.validate {
		margin: 3.5em 0 0 ;
	}
		.content-center {
		padding: 4em 0;
	}
}

