@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Merriweather);
@import url(https://fonts.googleapis.com/css?family=Audiowide);

* {
	padding: 0px;
	margin: 0px;
	box-sizing:border-box;
}

body {
	background: #222222;
	color: #fff;
	font-size: 16px; /*1em = 16px*/
	font-family: 'Merriweather', Serif;
	letter-spacing: .1em;
	text-align: center;
	line-height: 1.2;
	text-rendering: optimizeLegibility;
}

header {
	padding: 1em 0em;
	background-color: rgba(34,34,34,.4);
	color: #ffffff;
	position:absolute;
	text-decoration: none;
	text-align: center;
	font-family: oswald, sans-serif;
	top:0;
	width:100%;
	padding: .5em 1em .5em 1em;

}
header a {
	text-decoration: none;
	color: #ffffff;
}

header a:hover {
	text-decoration: none;
	color: #dddddd;
}
header div {
	float:right;
	font-size: 1.6em;
	margin-top: .3em;
	

}

header img {  
	float: left;
	height: 4em;
}

nav {
	margin: .5em 2em 0em 7em;
	text-align: center;
	
}


section {
	padding:10em 0;
}
section#splash {
	background-image: url("../images/micsplash.jpg");
	background-size: cover;
	background-repeat:no-repeat;
	color:#fff;
	height: 120vh;
	padding:0;
}
section:nth-of-type(odd) {
	background-color: #fff;
	color: #222;
	width: 100%
}

h1,h2,h3,h4,h5,h6 {
 font-family: Oswald, sans-serif;
}

h1 {
	padding-top: 2.5em;
	font-size: 6.5em;
	font-weight: 400;
	text-transform: uppercase;

}

h3 {
	margin: 1.5em 0em;
}

section h2 {
	font-size: 1.5em;
	margin-bottom: 2em;
}



a {
	transition: .25s;color;
	text-decoration: none;
	color: #fff;
}

a:hover {
	text-decoration: none;
	color: #dddddd;
}

p {
	font-size: 1em;
	line-height: 1.5em;
	text-align: center;
	margin: 0em auto;
	text-align: left;
		
}

ul {
	list-style-type: none;
	line-height: 1.4em;
}


iframe, object, embed {
        max-width: 100%;
}

#phone {
	float: right;
	padding-left: 1em;
	font-size: .5em;
	margin-right: 1em;

}

.mainnav {
	margin: 0 1em;

}


.slogan {
	font-style: italic;
	font-weight: 200;
	width: 47.5em;
	padding: 1.5em 0em 8em 0em;
	margin: 0em auto;
	text-align: center;

}

.button, #splash a {
	display: inline-block;
	width: 15em;
	background-color: #fa4542;
	box-shadow: 0 3px 0 0 #be0201;
	color: #fff;
	font-size: .9em;
	font-weight: 200;
	padding:1.5em 0;
	text-decoration:none;
}

.button, #splash a:hover {
    background-color: #F62048;
}

.wrapper {
	overflow: hidden;
	width: 60em;
	margin: auto;	
	/*background-color: green; */    
}

.twocolumn {
	max-width: 50%;
	float: left;
	padding: 1.5em;
}

.clearfix:after {
	content: "."; 
   	visibility: hidden; 
   	display: block; 
   	height: 0; 
   	clear: both;
}


.clientimg {
	width: 25%;
	float: left;
	display: inline;
	margin: auto;
}

#services a {
	font-variant: small-caps;
}

#services iframe {
	margin-top: 20px;
}

#equipment img {
	width: 15em;
}

.gallery {
	clear: both;
}

.gallery li {
	float: left;
	padding: 1em;
	margin: 0 auto;
	list-style: none;
}

#engineers img {
	width: 180px;
	border-radius: 90px;
}

#clients div {
	text-align: center;
}

#clients img {
	width: 15em;
	display: block;
}

#clients li {
	float: left;
	padding: 1em;
	margin: 0 auto;
	list-style: none;
}

#googlemapdiv {
	height: 30em;
	width: 30em;
	float: left;
}

#googlemap {
	height: 100%;
	width: 100%;
}

#contactdetails {
	text-align: center;
	padding-top: 6em;
}

.contacticon {
	font-size: 5em;
}


footer {
	clear: both;
	text-align: center;
	font-size: .8em;
	font-weight: 100;
}

footer hr {
	width: 50%;
}





