@import url(https://fonts.googleapis.com/css?family=Muli);

body {
	background-color: #ec098c;
}

h1 {
	font-family: "Century Gothic", Muli, Helvetica, Arial, sans-serif;
	color: #fff;
	font-size: 2em;
	text-align: center;
	text-transform: uppercase;
}

footer {
	background-color: orange;
	height: 4em;
}

footer img {
	height: 2.5em;
	width: auto;
}

footer, .wrapper:after {
	height: 4em;
}

.splash {
	width: 100%
	min-height: 100%;
}

.wrapper {
	min-height: 100%;
	margin-bottom: -4em;
}

.wrapper:after {
  content: "";
  display: block;
}

.threecolumn {
	width: 33%;
	float: left;
	text-align: center;
	margin: 0 auto;
}

.social svg {
	fill: #fff;
	height: 2.5em;
	width: 2.5em;
	margin: 0 .5em;
}

#background {
	width: 100%;
	height: auto;
}


@media screen and (max-width: 1100px) {
	h1 {
		margin-top: -2em;
	}
}

