nav ul {
	margin: 0 auto;
	text-align: center;
}

nav li {
	display: inline;
	line-height: 6.5rem;	
	list-style: none;
	margin: 0 17px;
	font-weight: 600;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;

}

section {
	margin-top: 15rem;
}

h4 {
	font-size: 2.8rem;
}

h5 {
	font-size: 2.2rem
}

h6 {
	font-weight: 800;
	margin-bottom: 1rem;
}

p {
	text-align: justify;
}


.fixed {
	position: fixed;
	bottom: 0;
	left: 0;
	background: #fff;
	width: 100%;
}

.fixedtop {
	position: fixed;
	top: 0;
	left: 0;
	background: #fff;
	width: 100%;
}

.fixed .nav-inner {
	max-width: 700px;
	margin: 0 auto;
}

.navbar {
	display: block;
	width: 100%;
	height: 6.5rem;
	z-index: -99;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	z-index: 100;
}

.navlink {
	text-decoration: none;
	color: #222; 
}

.maintitle {
	margin-top: 28%;
	text-align: center;
	letter-spacing: .1rem;
	font-weight: 600;
}

.subtitle {
	font-size: 18px;
	text-align: center;
	letter-spacing: .1rem;
	margin-bottom: 23rem;
}

.work	{
	text-align: center;
}

.centerrow {
	text-align: center;
	max-width: 640px;
	margin: 0 auto 5rem;
	text-align: justify;
	border-bottom: 1px solid #bbb;
}

.centerrow iframe {
	max-width: 100%;
	height: 100!important;
}

.centerrow h5,h6 {
	text-align: justify;
}

.borderbottom {
    max-width: 640px;
    border-bottom: 1px solid #bbb;
    margin: 0 auto 2rem;
}

.centertext {
	text-align: center;
}

.sociallink {
	display: block;
	text-align: center;
	margin: 2rem auto;
	padding: 2rem 10rem;
	background-color: #eee;
	text-decoration: none;
}

@media only screen and (max-width: 1200px) {
	.subtitle {
		margin-bottom: 26rem;
	}

}

@media only screen and (max-width: 1050px) {
	.subtitle {
		margin-bottom: 28rem;
	}

}

@media only screen and (max-width: 900px) {
	.maintitle {
		margin-top: 32%;
	}
}

@media only screen and (max-width: 750px) {
	.maintitle {
		margin-top: 38%;
	}

	.centerrow iframe {
		margin: -.5rem 0;
	}
}

@media only screen and (max-width: 700px) {

	.centerrow iframe {
		margin: -2rem 0;
	}
}

@media only screen and (max-width: 650px) {

	.centerrow iframe {
		margin: -3rem 0;
	}
}


@media only screen and (max-width: 600px) {
	.maintitle {
		margin-top: 45%;
	}

	.centerrow iframe {
		margin: -4rem 0;
	}
}


@media only screen and (max-width: 520px) {
	.maintitle {
		margin-top: 52%;
	}
	.centerrow iframe {
		margin: -5rem 0;
	}
}

@media only screen and (max-width: 450px) {
	.maintitle {
		margin-top: 60%;
	}

	.centerrow iframe {
		margin: -7rem 0;
	}
}

@media only screen and (min-height: 750px) {
	.maintitle {
		margin-top: 50%;
	}
}

@media only screen and (min-height: 800px) {
	.maintitle {
		margin-top: 85%;
	}
}

