@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Merriweather);

* {
	padding: 0px;
	margin: 0px;
	box-sizing:border-box;
}

body {
	background: #222222;
	color: #fff;
	font-size: 16px; /*1em = 16px*/
	font-family: 'Merriweather', Serif;
	letter-spacing: .1em;
	text-align: center;
	line-height: 1.2;
	text-rendering: optimizeLegibility;
}

header {
	padding: 1em 0em;
	background-color: rgba(34,34,34,.4);
	color: #ffffff;
	position:absolute;
	text-decoration: none;
	text-align: center;
	font-family: oswald, sans-serif;
	top:0;
	width:100%;

}
header a {
	text-decoration: none;
	color: #ffffff;
}

header a:hover {
	text-decoration: none;
	color: #dddddd;
}
header div {
	float:right;
	margin: -1em 1em 0em 0em;
	font-size: 1.5em;

}

header img {  /* remind john to talk about icon fonts */
	float: left;

	height: 4em;
	margin: -1em -1em 0em 1em;
}

nav {
	margin: 0em 2em;
	padding-bottom: .1em;
	text-align: center;
}


section {
	padding:10em 0;
}
section#splash {
	background-image: url("../images/guitarmic1.jpg");
	background-size: cover;
	background-repeat:no-repeat;
	color:#fff;
	height: 100vh;
	padding:0;
}
section:nth-of-type(odd) {
	background-color: #fff;
	color: #222;
}

h1,h2,h3,h4,h5,h6 {
 font-family: Oswald, sans-serif;
}

h1 {
	padding-top: 2.5em;
	font-size: 6.5em;
	font-weight: 400;
	text-transform: uppercase;
}

section h2 {
	font-size: 1.5em;
	margin-bottom: 2em;
}

p {
	font-size: 1em;
	line-height: 1.5em;
	width: 30em;
	text-align: center;
	margin: 0em auto;
	/*ASK JOHN why does taking out skew the text to the left. should it not inherit from .divcontent*/
	
}

ul {
	list-style-type: none;
}

hr {
	width: 50%;
	text-align: center;
	color: #fff;
}
#phone {
	float: right;
	padding-left: 1em;
	font-size: .5em;
	margin-right: 1em;

}

.mainnav {
	margin: 0 1em;

}

.slogan {
	font-style: italic;
	font-weight: 200;
	width: 47em;
	padding: 1.5em 0em 5em 0em;
	margin: 0em auto;

}


.button, #splash a {
	display: inline-block;
	width: 15em;
	background-color: #fa4542;
	box-shadow: 0 3px 0 0 #be0201;
	color: #fff;
	font-size: .9em;
	font-weight: 200;
	padding:1.5em 0;
	text-decoration:none;
}

.button, #splash a:hover {
    background-color: #F62048;
}

.divcontent {
	margin: 0em auto;
}


	



