@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Merriweather);
@import url(https://fonts.googleapis.com/css?family=Audiowide);

* {
	padding: 0px;
	margin: 0px;
	box-sizing:border-box;
}


video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../images/micsplash.jpg) no-repeat;
    background-size: cover; 
}

body {
	background-color: #222;
	color: #fff;
	font-size: 16px; /*1em = 16px*/
	font-family: 'Merriweather', Serif;
	letter-spacing: .1em;
	text-align: center;
	line-height: 1.2;
	text-rendering: optimizeLegibility;
}

header {
	padding: 1em 0em;
	background-color: rgba(34,34,34,.4);
	color: #ffffff;
	position:absolute;
	text-decoration: none;
	text-align: center;
	font-family: oswald, sans-serif;
	top:0;
	width:100%;
	padding: .5em 1em .5em 1em;

}
header a {
	text-decoration: none;
	color: #ffffff;
}

header a:hover {
	text-decoration: none;
	color: #dddddd;
}
header div {
	float:right;
	font-size: 1.6em;
	margin-top: .3em;
	

}

header img {  
	float: left;
	height: 4em;
}

nav {
	margin: 1.2em 2em 0em 7em;
	text-align: center;
	
}



section {
	background-color: #222; 
	padding:10em 0;
}

section:nth-of-type(even) {
	background-color: #fff;
	color: #222;
	width: 100%
}

h1,h2,h3,h4,h5,h6 {
 font-family: Oswald, sans-serif;
}

h1 {
	padding-top: 2em;
	margin-bottom: .5em;
	font-size: 7.5em;
	font-weight: 400;
	text-transform: uppercase;

}

h3 {
	margin: 1.5em 0em;
}

section h2 {
	font-size: 1.5em;
	margin-bottom: 2em;
}



a {
	-webkit-transition: .25s;color;
	-moz-transition: .25s;color;
	-o-transition: .25s;color;
	transition: .25s;color;
	text-decoration: none;
	color: #fff;
}

a:hover {
	text-decoration: none;
	color: #dddddd;
}

p {
	font-size: 1em;
	line-height: 1.5em;
	margin: 0em auto;
	text-align: left;
		
}

ul {
	list-style-type: none;
	line-height: 1.4em;
}


iframe, object, embed {
    max-width: 100%;
}

footer {
	background-color: #222; 
}

footer p {
	text-align: center;
	font-size: .8em;
	font-weight: 100;
	padding: 1em;
}

footer hr {
	width: 50%;
	margin: 0 auto 0 auto;
}

a.back-to-top {
	display: none;
	width: 3.5em;
	height: 3.5em;
	text-indent: -9999px;
	position: fixed;
	bottom: 1em;
	right: 1em;
	background: #fa4542 url("../images/up-arrow.png") no-repeat center 43%;
	border-radius: 10em;
	box-shadow: 1em;
}

a.back-to-top:hover {
    background-color: #F62048;

}

.mainnav {
	padding: 1em 1em;

}


.slogan {
	font-style: italic;
	font-weight: 200;
	margin: 1.5em 15em 7em 15em;
	text-align: center;

}

.button, #splash a {
	display: inline-block;
	width: 15em;
	background-color: #fa4542;
	box-shadow: 1.5em #000;
	color: #fff;
	font-size: .9em;
	font-weight: 200;
	padding:1.5em 0;
	margin-bottom: 3em;
	text-decoration:none;
}

.button, #splash a:hover {
    background-color: #F62048;
}

.wrapper {
	overflow: hidden;
	max-width: 75em;
	margin: auto;	
}

.twocolumn {
	width: 50%;
	float: left;
	padding: 1.5em;
}

.clearfix:after {
	content: "."; 
   	visibility: hidden; 
   	display: block; 
   	height: 0; 
   	clear: both;
}

#splash {
	height: 100vh;
	background: rgba(34, 34, 34, .6);
}

#phone {
	float: right;
	padding-left: 1em;
	font-size: .5em;
	margin-right: 1em;
}

#mobilephone {
	display: none;
}

#services a {
	font-variant: small-caps;
}

#services iframe {
	margin-top: 20px;
}

#equipment li {
	text-align: left;
	font-size: .8em;
	padding-left: 10em;
}

#redbg {
	background-color: #fa4542;
	color: #fff;
	padding: 4em;
	margin: 0 auto;
}

#redbg li {
	padding: 0 1em;
}


.gallery {
	clear: both;
}

.gallery img {
	padding: .5em;
	width: 33.33%;
	float: left;
}

.contacticon {
	font-size: 4em;
}

#engineers img {
	width: 180px;
	border-radius: 90px;
}

#clients div {
	text-align: center;
}

#clients img {
	width: 100%;
	display: block;
}

#clients li {
	float: left;
	padding: 1em;
	margin: 0 auto;
	list-style: none;
	width: 33.3%;
}


#googlemap {
	height: 28em;
	width: 30em;
}

.scrolloff {
        pointer-events: none;
}

#directions {
	display: none;
}

#contactdetails {
	text-align: center;
	padding-top: 6em;
}


@media screen and (max-width: 1234px) {
	.slogan {
		margin: 1.5em 15em 5.5em 15em;
	}

}

@media screen and (max-width: 1030px) {
	section {
		padding: 5em 0;
	}
	
	#contact .twocolumn {
		width: 100%;
	}
	#contactdetails {
		padding: 0;
	}
}

@media screen and (max-width: 1000px) {
	.slogan {
		margin: 1.5em 15em 4em 15em;
	}
}

@media screen and (max-width: 860px) {
	h1 {
		margin-bottom: 1.5em;
	}

	.gallery img {
		width: 50%;
	}

	#clients li {
		width: 50%;
	}

	.slogan {
		display: none;
	}

}

@media screen and (max-width: 700px) {
	nav {
		margin: 0 auto;
		text-align: center;
		
	}

	header {
		display: 100vh;
	}

	header div {
		margin-top: -20em;
		display: none;
	}

	header img {
		display: none;
		height: .1em;
	}

	h1 {
		padding-top: 2.5em;
		font-size: 6.5em;
		margin-bottom: 2em;
	}

	.mainnav {
		padding: 0em 1em
	}

	.twocolumn {
		width: 100%;
		float: none;
		padding: 1.5em;
	}
/*
	#mobilephone {
		display: inline;
		float: right;
		color: #fff;
		font-size: 4em;
		
	}

	#mobilephone:hover {
		text-decoration: none;
    	color: #dddddd;
    	transition: .25s;color;
	}*/

	#phone {
		font-size: .1em;
	}

	#equipment p {
		margin-bottom: 2em;
	}

	#engineers h2 {
		margin-bottom: 1em;
	}

	#googlemap {
		display: none;
	}

	#directions {
		display: inline-block;
		padding: 0 0 0 .1em;
		font-size: 4.5em;
	}

	
}

@media screen and (max-width: 580px) {
	h1 {
		padding-top: 2.5em;
	}

	.gallery img {
		width: 100%;
	}

	section h2 {
		margin-bottom: 1em;

	}
}

@media screen and (max-width: 500px) {
	h1 {
		font-size: 6em;
		padding-top: 3em;
		margin-bottom: 1.5em;
	}

	a.back-to-top {
	
		width: 2.5em;
		height: 2.5em;
	}

	#clients li {
		width: 100%;
	}

	.mainnav {
		padding: 1em .5em;

	}

	.button, #splash a {
		font-size: .7em;
	}




}

@media screen and (max-width: 435px) {
	h1 {
		padding-top: 2em;
		margin-bottom: 1em;
	}
}

@media screen and (max-width: 400px) {
	h1 {
		font-size: 5em;
		padding-top: 3em;
		margin-bottom: 1.5em;
	}

	.mainnav {
		font-size: .7em;
	}


}

@media screen and (max-width: 365px) {
	h1 {
		padding-top: 2em;
	}

	.button, #splash a {
		font-size: .6em;
	}
}


