@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Merriweather);
@import url(https://fonts.googleapis.com/css?family=Audiowide);

* {
	padding: 0px;
	margin: 0px;
	box-sizing:border-box;
}


video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../images/micsplash.jpg) no-repeat;
    background-size: cover; 
}

body {
	background-color: #222;
	color: #fff;
	font-size: 16px; /*1em = 16px*/
	font-family: 'Merriweather', Serif;
	letter-spacing: .1em;
	text-align: center;
	line-height: 1.2;
	text-rendering: optimizeLegibility;
}

header {
	padding: 1em 0em;
	background-color: rgba(34,34,34,.4);
	color: #ffffff;
	position:absolute;
	text-decoration: none;
	text-align: center;
	font-family: oswald, sans-serif;
	top:0;
	width:100%;
	padding: .5em 1em .5em 1em;

}
header a {
	text-decoration: none;
	color: #ffffff;
}

header div {
	float:right;
	font-size: 1.6em;
	margin-top: .3em;
}

header img {  
	float: left;
	height: 4em;
}

nav {
	margin: 1.2em 2em 0em 7em;
	text-align: center;
	
}



section {
	background-color: #222; 
	padding:10em 0;
}

section:nth-of-type(even) {
	background-color: #fff;
	color: #222;
	width: 100%
}

h2,h3,h4,h5,h6 {
 font-family: Oswald, sans-serif;
}

h1 {
	padding-top: 1.8em;
	margin-bottom: .5em;
	font-size: 8em;
	font-weight: 400;
	font-family: Oswald, sans-serif;
	text-transform: uppercase;

}

h3 {
	margin: 1.5em 0em;
}

section h2 {
	font-size: 1.5em;
	margin-bottom: 2em;
}



a {
	-webkit-transition: .25s;color;
	-moz-transition: .25s;color;
	-o-transition: .25s;color;
	transition: .25s;color;
	text-decoration: none;
	color: #fff;
}

a:hover {
	text-decoration: none;
	color: #fa4542;
}

p {
	font-size: 1em;
	line-height: 1.5em;
	margin: 0em auto;
	text-align: left;
		
}

ul {
	list-style-type: none;
	line-height: 1.4em;
}


iframe, object, embed {
    max-width: 100%;
    border: none;
}


input {
  display: block;
  padding: .5em;
  width: 50%;
  margin: 1em auto;
  text-align: center;
}

textarea {
	display: block;
	padding: .5em;
	width: 50%;
	margin: 1em auto;
	text-align: center;
	height: 12em;
}

textarea:focus {
  	outline-color: transparent;
  	outline-style: none;
}

footer {
	background-color: #222; 
}

footer p {
	text-align: center;
	font-size: .8em;
	font-weight: 100;
	padding: 1em;
}

footer hr {
	width: 50%;
	margin: 0 auto 0 auto;
}

a.back-to-top {
	display: none;
	width: 3.5em;
	height: 3.5em;
	text-indent: -9999px;
	position: fixed;
	bottom: 1em;
	right: 1em;
	background: #fa4542 url("../images/up-arrow.png") no-repeat center 43%;
	border-radius: 10em;
	box-shadow: 1em;
}

a.back-to-top:hover {
    background-color: #F62048;

}

.mainnav {
	padding: 1em 1em;

}

.socialsvg {
	fill: #fff;
	height: 1.2em;
	width: auto;
	-webkit-transition: .25s;color;
	-moz-transition: .25s;color;
	-o-transition: .25s;color;
	transition: .25s;color;
	padding: 0;
	
}

.socialsvg:hover {
	text-decoration: none;
	fill: #fa4542;
}


.slogan {
	font-style: italic;
	font-weight: 200;
	width: 750px;
	margin: auto;
	text-align: center;

}

.button, #splash a {
	display: inline-block;
	width: 15em;
	background-color: #fa4542;
	box-shadow: 0 3px 0 0 #be0201;
	border-radius: 3px;
	color: #fff;
	font-size: .9em;
	font-weight: 200;
	padding:1.5em 0;
	margin: 3em 0 3em 0;
	text-decoration:none;

}

.button, #splash a:hover {
    background-color: #F62048;
}

.wrapper {
	overflow: hidden;
	max-width: 75em;
	margin: auto;	
}

.twocolumn {
	width: 50%;
	float: left;
	padding: 1.5em;
}

.clearfix:after {
	content: "."; 
   	visibility: hidden; 
   	display: block; 
   	height: 0; 
   	clear: both;
}

.scrolloff {
        pointer-events: none;
}

.gallery {
	clear: both;
}

.gallery img {
	padding: .5em;
	width: 33.33%;
	float: left;
}

.map {
	width: 100%;
}

.contacticon {
	height: 4em;
	width: auto;
	fill: #fff;
	-webkit-transition: .25s;color;
	-moz-transition: .25s;color;
	-o-transition: .25s;color;
	transition: .25s;color;
}

.contacticon:hover {
	text-decoration: none;
	fill: #fa4542;
}

.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: 0 0 0;
       -moz-box-shadow: 0 0 0;
            box-shadow: 0 0 0;
}

#contact a:hover {
	color: #fa4542;
}


#splash {
	height: 100vh;
	background: rgba(34, 34, 34, .6);
}

#phone {
	float: right;
	padding-left: 1em;
	font-size: .5em;
	letter-spacing: .2em;
	margin-right: 1em;
}

#mobilephone {
	display: none;
}

#services a {
	font-variant: small-caps;
}

#services iframe {
	margin-top: 20px;
}

#equipment li {
	text-align: left;
	font-size: .8em;
	padding-left: 10em;
}

section#equipment {
	padding: 0;
}

#equipment .twocolumn {
	padding: 4em 1.5em ;
}

#redbg {
	background-color: #fa4542;
	color: #fff;
	margin: 0 auto;
	box-shadow: 3px 3px 3px black;
	padding: 2em;
}

#redbg li {
	padding: 0 1em;
}

#engineers img {
	width: 180px;
	border-radius: 90px;
}

#clients div {
	text-align: center;
}

#clients img {
	width: 100%;
	display: block;
}

#clients li {
	float: left;
	padding: 1em;
	margin: 0 auto;
	list-style: none;
	width: 33.3%;
}


#googlemap {
	width: 100%;
}

#directions {
	display: none;
}

#contactdetails {
	text-align: center;
	padding-bottom: 6em;
}

#contacttel {
	padding: 1em;
	}

section#contact {
	padding-bottom: 2em;
}

#contact input:focus {
  	outline-color: transparent;
  	outline-style: none;
}


#address {
	margin-bottom: 1em;
}

#submit {
	display: inline-block;
	width: 8em;
	background-color: #fa4542;
	box-shadow: 1.5em #000;
	border: none;
	color: #fff;
	font-size: .9em;
	font-weight: 200;
	padding: .5em 0;
	text-decoration:none;
	font-family: 'Merriweather', Serif;
	text-shadow: none;
	-webkit-transition: .25s;color;
	-moz-transition: .25s;color;
	-o-transition: .25s;color;
	transition: .25s;color;
	cursor: pointer;
	box-shadow: 0 3px 0 0 #be0201;
	border-radius: 3px;
}

#submit:hover {
    background-color: #F62048;
}



@media screen and (max-width: 1030px) {
	section {
		padding: 5em 0;
	}
	

    #contact .twocolumn {
		width: 100%;
	}
	#contactdetails {
		padding: 0;
	}

	#address {
		margin-bottom: 0;
	}
	.contacticon {
		margin-bottom: 3em;
	}	
}

@media screen and (max-width: 860px) {
	h1 {
		margin-bottom: .2em;
	}

	.gallery img {
		width: 50%;
	}
	#clients li {
		width: 50%;
	}
	.slogan {
    	width: 500px;
    }

}

@media screen and (max-device-width: 800px) {
    #splash {
        background: linear-gradient(rgba(34, 34, 34, .6), rgba(34, 34, 34, .6)), url(../images/mobilebg.png) no-repeat fixed center ;
        background-size: cover;
        webkit-background-size: cover;
        moz-background-size: cover;
        o-background-size: cover;
    	height: 100vh;
    	-webkit-transform: translateZ(0);
    }
    #bgvid {
        display: none;
    }

 
}

@media screen and (max-width: 700px) {
	nav {
		margin: 0 auto;
		text-align: center;
		
	}
	header div {
		margin-top: -20em;
		display: none;
	}

	header img {
		display: none;
		height: .1em;
	}

	.mainnav {
		padding: 0em 1em
	}

	.twocolumn {
		width: 100%;
		float: none;
		padding: 1.5em;
	}

	.contacticon {
		margin-bottom: 0;
	}


	#phone {
		font-size: .1em;
	}

	#equipment p {
		margin-bottom: 2em;
	}

	#engineers h2 {
		margin-bottom: 1em;
	}

	#googlemap {
		display: none;
	}

	#directions {
		display: inline-block;
	}

	
}

@media screen and (max-width: 650px) {
	h1 {
		font-size: 7.5em;
	}
}

@media screen and (max-width: 580px) {
	h1 {
		font-size: 7em;
	}

	.gallery img {
		width: 100%;
	}

	.slogan {
		font-size: .8em;
	}

	section h2 {
		margin-bottom: 1em;

	}
}

@media screen and (max-width: 540px) {
	h1 {
		font-size: 6em;
	}

	input, textarea {
		width: 80%;
		border-radius: 0;
	}

	#contact .twocolum {
		padding-bottom: 0;
	}

	#contactdetails {
		font-size: .9em;
	}

	.contacticon {	
		height: 2em;
	
	}

	footer {
		font-size: .6em;
	}
}

@media screen and (max-width: 504px) {

	a.back-to-top {
	
		width: 2.5em;
		height: 2.5em;
	}

	#clients li {
		width: 100%;
	}

	.mainnav {
		padding: 1em .5em;

	}

	.slogan {
		width: 300px;
	}

	.button, #splash a {
		font-size: .7em;
	}

}

@media screen and (max-width: 450px) {
	h1 {
		font-size: 5em;
		padding-top: 2em;
	}
}

@media screen and (max-width: 400px) {

	.mainnav {
		font-size: .7em;
	}

}

@media screen and (max-width: 365px) {
	h1 {
		padding-top: 1.5em;
	}

	.button, #splash a {
		font-size: .6em;
	}
}


