* {
	padding: 0px;
	margin: 0px;
	box-sizing:border-box;
}

body {
	background: #222222;
	color: #fff;
	font-family: helvetica, sans-serif;
	text-align: center;
	line-height: 1.2;
}

header {
	padding: 1em 0em;
	background-color: rgba(34,34,34,.4);
	color: #ffffff;
	position:absolute;
	text-decoration: none;
	text-align: center;
	top:0;
	width:100%;

}
header a {
	text-decoration: none;
	color: #ffffff;
}

header a:hover {
	text-decoration: none;
	color: #dddddd;
}
header div {
	float:right;
	margin-right: 1em;
	font-size: 1.5em;
	margin-top: -.5em;
}
header img {  /* remind john to talk about icon fonts */
	height: 2em;
	margin-top: -1em;
}



section {
	padding:10em 0;
}
section#splash {
	background-image: url("../images/guitarmic1.jpg");
	background-size: cover;
	background-repeat:no-repeat;
	color:#fff;
	height: 100vh;
	padding:0;
}
section:nth-of-type(odd) {
	background-color: #fff;
	color: #222;
}
h1 {
	padding-top: 2.5em;
	font-size: 6.5em;
	font-weight: 400;
	text-transform: uppercase;
}

section h2 {
	margin-bottom: 2em;
}

ul {
	list-style-type: none;
}

hr {
	width: 50%;
	text-align: center;
}
#phone {
	float: left;
	padding-left: 1em;
}

#social {
	float: right;
	margin-right: 1em;
}

.mainnav {
	margin: 0 1em;
}

.slogan {
	font-style: italic;
	font-weight: 200;
	padding-bottom: 10em;

}


.button, #splash a {
	display: inline-block;
	width: 15em;
	background-color: #e64633;
	color: #fff;
	font-size: .9em;
	font-weight: 200;
	padding:2em 0;
	text-decoration:none;
}

.divcontent {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.socbuttons {
	height: 4;
}
	



