* {
	padding: 0px;
	margin: 0px;
}

body {
	background: #222222;
	color: #fff;
	font-family: helvetica, sans-serif;
	text-align: center;
	line-height: 1.2;
}

nav {
	padding: 20px 0px;
	background-color: rgba(2,2,2,.4);
	color: #ffffff;
	text-decoration: none;
	text-align: center;

}

header {
	background-image: url("../images/guitarmic1.jpg");
	background-size: 100%;
}


h1 {
	padding-top: 180px;
	font-size: 6.2em;
	font-weight: 400;
	text-transform: uppercase;
}

section h2 {
	margin-bottom: 40px;
}

ul {
	list-style-type: none;
}

hr {
	width: 50%;
	text-align: center;
}

nav a {
	text-decoration: none;
	color: #ffffff;
}

nav a:hover {
	text-decoration: none;
	color: #dddddd;
}

nav img {
	height: 40px;
	margin-top: -10px;
}



#phone {
	float: left;
	padding-left: 20px;
}

#social {
	float: right;
	margin-right: 20px;
}

.mainnav {
	margin: 0 20px;
}



.button p {
	margin-top: 10px;
}

#slogan {
	font-style: italic;
	font-size: 1.2em;
	font-weight: 200;
	letter-spacing: .2em;
}

.button {
	display: inline-block;
	margin-top: 150px;
	margin: 0, auto;
	height: 40px;
	width: 200px;
	background-color: #e64633;
	color: #fff;
	font-size: .9em;
	font-weight: 200;
	margin-bottom: 120px;

}


.blacksection {
	background-color: #222222;
	background-size: 100%, 100%;
	padding-bottom: 10em;
}

.whitesection {
	background-color: #fff;
	color: #222222;
	background-size: 100% 100%;
	padding-bottom: 10em;
}

.divcontent {
	padding-top: 8em;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

	



