* {
	padding: 0px;
	margin: 0px;
	box-sizing:border-box;
}

body {
	background: #222222;
	color: #fff;
	font-family: helvetica, sans-serif;
	text-align: center;
	line-height: 1.2;
}

header {
	padding: 20px 0px;
	background-color: rgba(34,34,34,.4);
	color: #ffffff;
	position:absolute;
	text-decoration: none;
	text-align: center;
	top:0;
	width:100%;

}
header a {
	text-decoration: none;
	color: #ffffff;
}

header a:hover {
	text-decoration: none;
	color: #dddddd;
}
header div {
	float:right;
}
header img {  /* remind john to talk about icon fonts */
	height: 40px;
	margin-top: -10px;
}
section {
	padding:10em 0;
}
section#splash {
	background-image: url("../images/guitarmic1.jpg");
	background-size: cover;
	background-repeat:no-repeat;
	height:50vh;
	padding:0;
}
section:nth-of-type(odd) {
	background-color: #fff;
	color: #222;
}
h1 {
	padding-top: 180px;
	font-size: 6.2em;
	font-weight: 400;
	text-transform: uppercase;
}

section h2 {
	margin-bottom: 40px;
}

ul {
	list-style-type: none;
}

hr {
	width: 50%;
	text-align: center;
}
#phone {
	float: left;
	padding-left: 20px;
}

#social {
	float: right;
	margin-right: 20px;
}

.mainnav {
	margin: 0 20px;
}

#slogan {
	font-style: italic;
	font-size: 1.2em;
	font-weight: 200;
	letter-spacing: .2em;
}

.button, #splash a {
	display: inline-block;
	width: 200px;
	background-color: #e64633;
	color: #fff;
	font-size: .9em;
	font-weight: 200;
	padding:2em 0;
}

.divcontent {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

	



